.player {
  @apply flex flex-col gap-7;
}

.player .icons {
  @apply flex items-center justify-around;
}

.player .progressBar {
  @apply hidden;
}

@media (min-width: 640px) {
  .player .progressBar {
    @apply block;
  }

  .timeline {
    @apply w-full h-[0.375rem] bg-white/30 rounded-lg bg-no-repeat;

    -webkit-appearance: none;
    background-size: 80% 100%;
    background-image: linear-gradient(#D9D9D9, #D9D9D9);
  }

  .timeline::-webkit-slider-thumb {
    @apply bg-[#D9D9D9] rounded-full w-[0.375rem] h-[0.375rem];

    -webkit-appearance: none;
  }

  .timeline::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .time {
    @apply flex justify-between font-light opacity-67;
  }
}

@media (min-width: 1024px) {
  .header img {
    @apply mx-auto;
  }

  .player {
    @apply flex flex-col gap-7;
  }
}
